.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 800px;
}

.post-card {
  margin: 20px 50px;
}

.hashtag {
  margin: 0px 3px;
}

.reactions {
  margin: 15px 0 0 0;
}

.create-post {
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}

.welcome-message {
  margin: 100px 0;
}

.spinner {
  margin: 10% 0;
}

.post-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.post-card {
  margin: 0;
  width: auto !important;
}